<div class="jumbotron">
  <h1>Welcome to Open Item Sets</h1>

  <p>
  Open Item Sets is a platform where League of Legends players can gather, share, use, and comment
  on item sets. It is <strong>free</strong> to use, and the project is also <strong>open source</strong>.
  </p>

  <p>
  With Open Item Sets, you will be able to subscribe to item sets created by other players, as well
  as creating your own item sets that suits your playstyle. Item Sets will be automatically updated to your
  own computer and you will be able to use them ingame
  as they update. Best of all, you will never have to re-create item sets when logging on to a 
  different computer ever again.
  </p>

  <p>
  <%= link_to("Getting Started", "/install", :class => "btn btn-primary btn-lg") %>
  </p>
</div>

<p>
If you already have an account, click <%= link_to("here", new_session_path) %> to log in
</p>

