<div class="jumbotron">
  <h1>Welcome to Open Item Sets</h1>

  <p>
  Open Item Sets is a platform where League of Legends players can gather, share, use, and comment
  on item sets. It is <strong>free</strong> to use, and the project is also <strong>open source</strong>.
  </p>

<p>
  <strong>If you are new to Open Item Sets</strong>, 
  check out our <%= link_to("Getting Started", "/install") %> guide.
You may also be interested at 
<%= link_to("browsing", item_sets_path) %> item sets created by other people, or
<%= link_to("create your own", new_item_set_path) %> item set.
</p>

<p>
If you already have an account, click <%= link_to("here", new_session_path) %> to log in
</p>
</div>



