<h1>Getting Started</h1>

<p>
Steps to get started using Open Item Sets:
<ol>
  <li>Register an account!</li>
  <li>Build your own item sets, or browse around and subscribe to ones you like.</li>
  <li>Download our Open Item Sets desktop application (see below) to sync your online item sets to the
  League of Legends client.</li>
</ol>
</p>

<h3>Download the Desktop Client</h3>
<p>The current version of the desktop client is <strong><%= @version %></strong>. </p>

<p><%= link_to("Download", 
               "http://static.openitemsets.com/downloads/openitemsets-" + @version +"-windows-installer.exe", 
               :class => "btn btn-primary", :type => "button") %> </p>
<p><%= link_to("Desktop Client Source Code", "https://github.com/ichiro101/OpenItemSets_NativeClient") %></p>


