//= require_tree .
//= require rails_bootstrap_forms
//= require syntax-highlighter-rails/shCore
//= require syntax-highlighter-rails/shThemeDefault
//= require_self

div#page-content {
  padding-left: 20px;
  padding-right: 20px;
}

div.row {
  padding-bottom: 10px;
}

div.modal-body {
  max-height: 800px;
  
  div {
    max-height: 700px;
  }
}
