div.item-shop-category {
  margin-top: 5px;
  padding: 5px;
  color: #000;
}

div.item-shop-category:hover {
  background-color: #ddd;
  color: #AF5B0A;
  cursor: pointer;
}

div.item {
  float: left;
  border: solid 1px;
  margin: 5px;

  img {
    width: 48px;
    height: 48px;
    display: block;
  }

  span {
    text-align: center;
    display: block;
  }

  z-index: 1;
}

div.item-set-block {
  min-height: 168px;
  overflow:auto;
}

div.item-set-block-view {
  overflow:auto;
}

