<div ng-app="itemSet" ng-controller="itemSetsController" class="row">
  <h1>Edit Item Set for <%= @item_set.champion %></h1>

  <!-- SHOP AREA -->
  <div class="col-md-6">
    <input class="form-control" ng-model="query" placeholder="Filter">
    <div class="row">
      <div class="col-sm-4">
        <div class="item-shop-category" ng-click="clearFilters()">
          All Items
        </div>
        <div class="item-shop-category" ng-click="addCategoryFilter('Tools')">
          Tools
        </div>
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"Consumable"' type="checkbox" value="">
                Consumable
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"GoldPer"' type="checkbox" value="">
                Gold Income
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"Vision"' type="checkbox" value="">
                Vision &amp; Trinkets
              </label>
            </div><!-- checkbox -->
        <div class="item-shop-category" ng-click="addCategoryFilter('Defense')">
          Defense
        </div>
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"Health"' type="checkbox" value="">
                Health
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"Armor"' type="checkbox" value="">
                Armor
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"SpellBlock"' type="checkbox" value="">
                Magic Resist
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"HealthRegen"' type="checkbox" value="">
                Health Regen
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"Tenacity"' type="checkbox" value="">
                Tenacity
              </label>
            </div><!-- checkbox -->
        <div class="item-shop-category" ng-click="addCategoryFilter('Attack')">
          Attack
        </div>
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"Damage"' type="checkbox" value="">
                Damage
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"CriticalStrike"' type="checkbox" value="">
                Critical Strike
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"AttackSpeed"' type="checkbox" value="">
                Attack Speed
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"LifeSteal"' type="checkbox" value="">
                Life Steal
              </label>
            </div><!-- checkbox -->
        <div class="item-shop-category" ng-click="addCategoryFilter('Magic')">
          Magic
        </div>
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"SpellDamage"' type="checkbox" value="">
                Ability Power
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"CooldownReduction"' type="checkbox" value="">
                Cooldown Reduction
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"SpellVamp"' type="checkbox" value="">
                Spell Vamp
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"Mana"' type="checkbox" value="">
                Mana
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"ManaRegen"' type="checkbox" value="">
                Mana Regen
              </label>
            </div><!-- checkbox -->
        <div class="item-shop-category" ng-click="addCategoryFilter('Movement')">
          Movement
        </div>
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"Boots"' type="checkbox" value="">
                Boots
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input checklist-model="tagFilter" checklist-value='"NonbootsMovement"' type="checkbox" value="">
                Other Movement
              </label>
            </div><!-- checkbox -->
      </div><!-- col-sm-4 -->
      <div class="col-sm-8">
        <h4>Item List</h4>
        <div id="item-shop">
          <p>Drag these items onto the item set panel, or click on them to add to the item set.</p>
          <div class="item" ng-repeat="item in selectedItems | filter:query">
            <img ng-src="http://static.openitemsets.com/img/item/{{item.id}}.png"></img>
            <span>{{item.gold.total}}</span>
          </div><!-- item -->
        </div><!-- item-shop -->
      </div><!-- col-sm-8 -->
    </div><!-- row -->
  </div><!-- col-sm-6 -->
  <!-- END OF THE SHOP AREA -->


  <!-- ITEM SET BUILDING AREA -->
  <div class="col-sm-6">
    <h4>Maps</h4>
    <div class="radio">
      <label>
        <input ng-model="mapOption" type="radio" name="mapOption" value="1" checked>
        Allow this Item Set to appear for any map
      </label>
    </div><!-- radio -->
    <div class="radio">
      <label>
        <input ng-model="mapOption" type="radio" name="mapOption" value="0">
        Choose a specific map for this Item Set
      </label>
    </div><!-- radio -->
    <div id="specific-map-options">
      <label class="radio-inline">
        <input type="radio" ng-model="specificMap" value="1" name="specificMap" checked> Summoner's Rift
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="specificMap" value="8" name="specificMap"> The Crystal Scar
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="specificMap" value="4" name="specificMap"> The Twisted Treeline
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="specificMap" value="12" name="specificMap"> Howling Abyss
      </label>
    </div><!-- specific map options -->

      <h4>Item Set</h4>
  </div>
  <!-- END OF ITEM SET BUILDING AREA -->

</div><!-- row -->
