<div ng-app="itemSet" ng-controller="itemSetsController" class="row">
  <h1>Edit Item Set</h1>
  <div class="col-md-6">
    <input class="form-control" placeholder="Filter">
    <div class="row">
      <div class="col-sm-4">
        <div class="item-shop-category">
          All Items
        </div>
        <div class="item-shop-category">
          Tools
        </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Consumable
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Gold Income
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Vision &amp; Trinkets
              </label>
            </div><!-- checkbox -->
        <div class="item-shop-category">
          Defense
        </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Health
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Armor
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Magic Resist
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Health Regen
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Tenacity
              </label>
            </div><!-- checkbox -->
        <div class="item-shop-category">
          Attack
        </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Damage
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Critical Strike
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Attack Speed
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Life Steal
              </label>
            </div><!-- checkbox -->
        <div class="item-shop-category">
          Magic
        </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Ability Power
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Cooldown Reduction
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Spell Vamp
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Mana
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Mana Regen
              </label>
            </div><!-- checkbox -->
        <div class="item-shop-category">
          Movement
        </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Boots
              </label>
            </div><!-- checkbox -->
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Other Movement
              </label>
            </div><!-- checkbox -->
      </div><!-- col-sm-4 -->
      <div class="col-sm-8">
        <h4>Item List</h4>
        <div id="item-shop">
          <p>Drag these items onto the item set panel, or click on them to add to the item set.</p>
          <div class="item" ng-repeat="item in selectedItems">
            <img src="http://static.openitemsets.com/img/item/{{item.id}}.png"></img>
            {{item.gold.total}}
          </div><!-- item -->
        </div><!-- item-shop -->
      </div><!-- col-sm-8 -->
    </div><!-- row -->
  </div><!-- col-sm-6 -->
  <div class="col-sm-6">
  </div>
</div><!-- container -->
