
<!-- ITEM SET LISTING AREA -->
<div class="row">
  <div class="col-lg-10">
<% @item_sets.each do |item_set| %>
  <%= render :partial => "partials/item_set_media", :locals => {:item_set => item_set} %>
<% end %>
  <%= paginate @item_sets %>
  </div><!-- col -->
  <div class="col-md-2">
    <div class="well">
      <h2>Actions</h2>
      <p>
        <%= link_to("Create Item Set", new_item_set_path, :class => "btn btn-default") %>
      </p>
    </div><!-- well -->
  </div><!-- col -->
</div><!-- row -->
